{% extends "layout.html" %}
{% block body %}
<h1>New phone_number</h1>
<form action="/submit_new_entry" method="POST">
  <p>
    <label for="name">Name</label><br>
    <input type="text" name="name">
  </p>
  <p>
    <label for="phone_number">Phone Number</label><br>
    <input type="text" size="60" name="phone_number">
  </p>
  <p>
    <label for="email">Email</label><br>
    <input type="text" size="60" name="email">
  </p>
  <p>
    <button type="submit">Add info</button>
  </p>
</form>
{% endblock %}
